{% extends "base.html" %}

{% block title %}contact{% endblock title %}

{% block body %} 
        <div class="list-group">
  <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">light year car</h5>
      <small>3 days ago</small>
    </div>
    <p class="mb-1">Some placeholder content in a paragraph.</p>
    <small>And some small print.</small>
  </a>
  <a href="#" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">hybrid car</h5>
      <small class="text-muted">3 days ago</small>
    </div>
    <p class="mb-1">this is paragraph tag for thunder</p>
    <small class="text-muted">And some muted small print.</small>
  </a>
  <a href="#" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">w12 engine car</h5>
      <small class="text-muted">3 days ago</small>
    </div>
    <p class="mb-1">this is concept car </p>
    <small class="text-muted">nothing car</small>
  </a>
</div>
{% endblock body %}
