{% extends "base.html" %}

{% block title %}services{% endblock title %}

{% block body %}
    <!-- Example single danger button -->
<div class="btn-group">
  <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Action
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">TOYOTA</a></li>
    <li><a class="dropdown-item" href="#">BMW</a></li>
    <li><a class="dropdown-item" href="#">PORSH</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="#">BENZ</a></li>
  </ul>
</div>
{% endblock body %}
